@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

html {
	height: 100%;
	width: 100%;
}

body {
	background-color: #222;
	box-sizing: border-box;
	color: #eee;
	font-family: 'Raleway', sans-serif;
	height: 100%;
	margin: 0;
	overflow: hidden;
    position:fixed;
    top: 0;
    bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem;
	width: 100%;
}

h1, h2 {
	text-align: center;
}

h1 {
	font-size: 4rem;
	margin-bottom: 0;
	margin-top: 1rem;
}

h2 {
	font-size: 2rem;
	margin-top: 0;
}

main {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 1rem;
}

canvas {
	height: 150vh;
	width: 150vw;
	background: -o-linear-gradient(top, #000, #021522);
	background: -ms-linear-gradient(top, #000, #021522);
	background: -moz-linear-gradient(top, #000, #021522);
	background: -webkit-linear-gradient(top, #000, #021522);
	background: linear-gradient(top, #000, #021522);
	position: absolute;
 	top: -25vh;
	bottom: 0;
	left: -25vw;
	right: 0;
	z-index: -1;
}

.container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.profile {
	max-width: 10vw;
	min-width: 20vh;
	border-radius: 50%;
	animation: 1s cubic-bezier(0.79, 0.21, 1, 1) 0s infinite alternate glow;
}

@keyframes glow {
	from { box-shadow: 0 0 5px #dfa; } to { box-shadow: 0 0 20px #dfa; }
}

.link {
	background-color: #eee;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 0.25rem solid #eee;
	border-radius: 0.25rem;
	color: #eee;
	font-weight: bold;
	height: 2rem;
	overflow: hidden;
	text-indent: 100%;
	transition-duration: 0.5s;
	white-space: nowrap;
	width: 2rem;
}

.link:hover, .link:focus {
	background-color: #ddd;
	border-color: #ddd;
	box-shadow: 0 0 10px #dfa;
	margin-top: -10px;
	outline: none;
}

.link:not(:last-child) {
	margin-right: 1rem;
}

.github {
	background-image: url(imgs/github.svg)
}

.linkedin {
	background-image: url(imgs/linkedin.svg)
}

.codepen {
	background-image: url(imgs/codepen.svg)
}

.mail {
	background-image: url(imgs/envelope.svg)
}

.whatsapp {
	background-image: url(imgs/whatsapp.svg)
}
