@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

html {
	height: 100%;
	width: 100%;
}

body {
	align-items: center;
	background-color: #222;
	box-sizing: border-box;
	color: #eee;
	display: flex;
	flex-direction: column;
	font-family: 'Raleway', sans-serif;
	height: 100%;
	justify-content: center;
	margin: 0;
	padding: 1rem;
	width: 100%;
}

h1, h2 {
	text-align: center;
}

h1 {
	font-size: 4rem;
	margin-bottom: 0;
	margin-top: 1rem;
}

h2 {
	font-size: 2rem;
	margin-top: 0;
}

main {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 1rem;
}

canvas {
	height: 100%;
	width: 100%;
	background: -o-linear-gradient(top, #000, #257eb7);
	background: -ms-linear-gradient(top, #000, #257eb7);
	background: -moz-linear-gradient(top, #000, #257eb7);
	background: -webkit-linear-gradient(top, #000, #021522);
	background: linear-gradient(top, #000, #257eb7);
	position: absolute;
 	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}

.profile {
	max-width: 15vw;
	min-width: 30vh;
	box-shadow: 0 0 10px white;
	border-radius: 50%;
}

.link {
	background-color: #eee;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	border: 0.25rem solid #eee;
	border-radius: 0.25rem;
	box-shadow: 0 0.5rem 0 #111;
	color: #eee;
	font-weight: bold;
	height: 2rem;
	overflow: hidden;
	text-indent: 100%;
	transition-duration: 0.5s;
	white-space: nowrap;
	width: 2rem;
}

.link:hover {
	background-color: #ddd;
	border-color: #ddd;
	box-shadow: 0 0 0 #111;
}

.link:not(:last-child) {
	margin-right: 1rem;
}

.github {
	background-image: url(https://unpkg.com/simple-icons@v4/icons/github.svg)
}

.linkedin {
	background-image: url(https://unpkg.com/simple-icons@v4/icons/linkedin.svg)
}

.codepen {
	background-image: url(https://unpkg.com/simple-icons@v4/icons/codepen.svg)
}

.gmail {
	background-image: url(https://unpkg.com/simple-icons@v4/icons/gmail.svg)
}

.whatsapp {
	background-image: url(https://unpkg.com/simple-icons@v4/icons/whatsapp.svg)
}
